body {
    background-color: rgb(228, 114, 8);
}

h2 {
    background-color: brown;
    border: solid 4px black;
}

p1 {
    background-color: rgb(189, 123, 1);
    border: solid 3px black;
}

div {
    display: flex;
    justify-content: center;
}